<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link href="/style/style.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/bbadb5f9e0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/scripts/script.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <div id="headerindex">
        <div id="navbar">
            <div id="innernavbar">
                <ul>
                    <li><img id="blackindexEM" src="exammatchblack.png"></a></li>
                    <li><a href="index">Home</a></li>
                    <li><a id="imhere" href="myrequests">My Requests</a></li>
                    <li><a href="findteacher">Find Teachers</a></li>
                    <li><a href="index">My Bookmarks</a></li>
                </ul>
            </div>

        </div>

        <div class="centerDiv">
            <!-- The alert content -->
            <div id="alertTexts" class="hide">
                <span>Good morning, you have a new request!</span>
                <span>Good morning, you have a new request!</span>
                <span>Good morning, you have a new request!</span>
                <span>Good morning, you have a new request!</span>
                <button id="closeAlertTexts" onclick="onButtonClickClose()">Close</button>
            </div>
            <div id="notifyDiv">
                <button type="button" class="icon-button" onclick="onButtonClick()">
                    <span class="material-icons">notifications</span>
                    <span class="icon-button__badge">2</span>
                </button>
            </div>
            <div class="navDiv">
                <a href="profile"><img id="topavatar" src="<%= avatar %>" alt="profile avatar"></a>
                <span>En</span>
                <a href="/"><span>Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></span></a>
            </div>


        </div>
    </div>
    <div id="mainindex">
        <div class="centercontent">
            <h1>My requests</h1>
            <div class="chatBox">
                <% myRequests.forEach(function(request) { %>
                <div class="wrap-collapsible">
                    <input id="collapsible" class="toggle" type="checkbox">
                    <label for="collapsible" class="lbl-toggle">
                        <div class="avaname">
                            <img id="chatAvatar" src="<%= request.author_avatar %>" alt="profile avatar">
                            <!-- Function to add your profilepicture from the database here -->
                            <p class="teachername"><%= request.author %>
                                <!-- Function to display your name here -->
                            </p>
                        </div>
                        <div class="reqtag">
                            <p class="requestheader"><%= request.title %></p>
                            <div class="tagShow">
                                <span style="background-color: rgb(76, 76, 76); color: white;">
                                    <p class="textinspan"><%= request.tags %></p>
                                </span>
                                <!--                             <span style="background-color: blue; color: white;">
                                <p class="textinspan">Design</p>
                            </span>
                            <span style="background-color: lime; color: white;">
                                <p class="textinspan">Code</p>
                            </span> -->
                        </div>
                    </div>
                    <i class="fa-regular fa-bookmark"></i>
                </label>
                <div class="collapsible-content">
                    <div class="content-inner">
                        <h1>Description:</h1>
                        <p>
                            <%= request.description %>
                        </p>
                        <div class="moreinfo">
                            <div class="leftinner">
                                <h1>Job title:</h1>
                                <h1>Language: <%= request.language %></h1>
                                <h1>Accept a teacher for your request:</h1>
                                <form action="/acceptATeacher" method="POST" id="verifyForm">
                                    <input type="hidden" name="requestid" value="<%= request._id %>">
                                    <select name="email" id="email" required>
                                    <option disabled selected value>Select a user</option>
                                    <% request.suggestedTeachers.forEach(function(teacher) { %>
                                        <option><%= teacher %></option>
                                        <% }) %>
                                    </select> <br/>
                                    <input class="submitBtn" type="submit" value="Confirm" />
                                </form>
                            </div>
                            <div class="rightinner">
                                <h1>Coursename and Coursecode: <%= request.course %></h1>
                                <h1>Estimated workload: <%= request.estimated_workload %></h1>
                                <h1>Request is open: <%= request.open %></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>


    <footer>
        <p>This website was made as a part of the subject IDG2671 Webprosjekt.</p>
        <p>Authors:</p>
        <p>Mons Stenbråten, Sivert Grønli Amundsen,</p>
        <p>Ole Ragnar Randen</p>
        <p>Copyright &copy;2022</p>
    </footer>

    <script>
        function onButtonClick() {
            document.getElementById('alertTexts').className = "show";
        }

        function onButtonClickClose() {
            document.getElementById('alertTexts').className = "hide";
        }
    </script>

</body>

</html>