<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link href="/style/style.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/bbadb5f9e0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/scripts/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div id="headerindex">
        <div id="navbar">
            <div id="innernavbar">
                <ul>
                    <li><img id="blackindexEM" src="exammatchblack.png"></a></li>
                    <li><a href="index">Home</a></li>
                    <li><a href="myrequests">My Requests</a></li>
                    <li><a href="findteacher">Find Teachers</a></li>
                    <li><a href="mybookmarks">My Bookmarks</a></li>
                </ul>
            </div>

        </div>

        <div class="centerDiv">
            <!-- The alert content -->
            <div id="alertTexts" class="hide">
                <span>Good morning, you have a new request!</span>
                <span>Good morning, you have a new request!</span>
                <span>Good morning, you have a new request!</span>
                <span>Good morning, you have a new request!</span>
                <button id="closeAlertTexts" onclick="onButtonClickClose()">Close</button>
            </div>
            <div id="notifyDiv">
                <button type="button" class="icon-button" onclick="onButtonClick()">
                    <span class="material-icons">notifications</span>
                    <span class="icon-button__badge">2</span>
                </button>
            </div>
            <div class="navDiv">
                <a href="profile"><img id="topavatar" src="<%= avatar %>" alt="profile avatar"></a>
                <span>En</span>
                <a href="/"><span>Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></span></a>
            </div>


        </div>
    </div>

    <div id="mainindex">

        <div class="whitebox">
            <!-- Left -->
            <div id="left">
                <div class="nameandprofilepicture">
                    <h1><!-- Function for displaying your name --></h1>
                    <h1><%= userData.firstname %> <%= userData.lastname %></h1>

                    <!-- Function for displaying your name -->

                    <!-- Function for displaying a profile img box -->
                    <!--                 <div style="background-image: url('small-profile.jpeg');background-size: cover; height:480px; padding-top:80px;">
                    <img src="small-profile.jpeg" style="height:150px">
                </div> -->

                    <div class="row">
                        <div class="small-12 medium-2 large-2 columns">
                            <div class="circle">
                                <img class="profile-pic"
                                    src="<%= userData.avatar %>">

                            </div>
                            <div class="p-image">
                                <i class="fa fa-camera upload-button"></i>
                                <input class="file-upload" type="file" accept="image/*" style="width:fit-content ;" />
                            </div>
                        </div>
                    </div>

                    <h1>About me</h1>
                    <textarea id="aboutme" rows="4" cols="50" readonly><%= userData.description %></textarea>
                </div>
                <div class="schooldiv">
                    <p>School: <%= userData.affSchool %></p>
                </div>
                <div class="jobtitlediv">
                    <p>Job Title: <%= userData.jobTitle %></p>
                </div>
                <div class="linktoschooldiv">
                    Link: <a href="<%= userData.jobLink %>"> <%= userData.jobLink %></a>
                </div>
            </div>

            <!-- Middle -->
            <div id="middle">
                <div class="notepinkdiv">
                    <h1>Personal Notes</h1>
                    <div class="notewhitediv">
                        <!-- Function for storing textbox text -->
                    </div>
                </div>
                <div class="languagediv">
                    <h1>Language Fluency:</h1>
                    <p><%= userData.languages %></p>
                </div>
                <div class="employmentdiv">
                    <h1>Employment Status</h1>
                    <p><%= userData.empStatus %></p>
                </div>
            </div>

            <!-- Right -->
            <div id="right">
                <div class="pinkexamcorrdiv">
                    <h1>Exams corrected this year:</h1>
                    <div class="whiteexamcorrdiv">
                        <!-- Function -->
                    </div>
                </div>
                <div class="hoursdiv">
                    <div class="hoursspent"><h1>Working hours spent:</h1>
                        Placeholdertext <!-- Function -->
                    </div>
                    <div class="hoursleft"><h1>Working hours left:</h1>
                        Placeholdertext <!-- Function -->
                    </div>
                </div>
                <div class="assoctags">
                    <h1>Associated Tag</h1>
                    <h1 class="<%= userData.tags %>"><%= userData.tags %></h1><!-- Add tags function here -->
                </div>
                <div class="edit">Edit</div>
            </div>
        </div>

    </div>


    <footer>
        <p>This website was made as a part of the subject IDG2671 Webprosjekt.</p>
        <p>Authors:</p>
        <p>Mons Stenbråten, Sivert Grønli Amundsen,</p>
        <p>Ole Ragnar Randen</p>
        <p>Copyright &copy;2022</p>
    </footer>
    
    <script>
        function onButtonClick() {
            document.getElementById('alertTexts').className = "show";
        }

        function onButtonClickClose() {
            document.getElementById('alertTexts').className = "hide";
        }
    </script>
</body>

</html>